@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

* ,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
   
}
body{
    background-color: #fcfbf6;
    color: #fcfbf6;
}
ul{
    list-style: none;
}
main{
    margin: 1rem;
    display: grid;
    grid-template-columns: 33% 1fr;
    grid-gap: 1rem;
}
h2{
    padding-bottom: 20px;
    padding-top: 0%;
    margin-top: 0%;
}
h1{
    color: #363f3f;
}
h3{
    padding-bottom: 20px;
    padding-top: 0%;
}
hr{
    padding: 0px;
    margin-top: 20px;
}
.personal,
.skills,
.languages{
    padding: 20px;
    line-height: 2;
}
.personal{
    font-size: medium;
    font-weight: 400;
}
.left{
    background-color:#363f3f;
    padding: 0%;
    margin: 0%;
}
.left-image img{
    width: 100%;

}

.left-image{
    position: relative;
}
.left-image h2{
    position: absolute;
    bottom: 0;
    left: 20px;
}
.experience,
.education{
    line-height: 2;
}

.right{
    background-color: #fcfbf6;
    padding-top: 0%;
    padding-left: 20px;
    margin: 0%;
}
.place{
    font-size: large;
    font-weight: 500;
    list-style: none;
    color: #363f3f;
}
.date{
    font-size: medium;
    font-weight: 300;
    color: #a7a5a4;
    margin-bottom: 10px;
    list-style: none;
}
.experience ul{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #363f3f;
    font-size: small;
    font-weight: 400;
    list-style: circle;
}
.education ul{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #363f3f;
    font-size: small;
    font-weight: 400;
    list-style: circle;
}
progress{
    background-color: #9c9b9a;
    color: #363f3f;
    border-radius: 10px;

}
progress::-webkit-progress-value {
    background: #be7655;
    
}
.position{
    font-size: large;
    font-weight: 500;
}

